/* 所有元素 */
* {
    margin: 0;
    padding: 0;
    /* 邊框 bd */
    /* border: 0.5px solid rgba(255,0,0,0.3); */
    color : #fff;
    /* 字體 ff */
    font-family: 微軟正黑體;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}
body,html {
    /* 高度 h100p */
    height: 100%;
    /* 背景圖片 bgi */
    background-image: url("https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80");
    /* 背景大小 bgz */
    background-size: cover;
}
a {
    /* a 底線 td */
    text-decoration: none;
}

/* div 區塊 */
#box {
    height: 800px;
    width: 800px;
    margin: 0 auto 0 auto;
    padding: 50px;
}

/* 導覽列 */
nav a {
    /* 邊框底線 bdb */
    border-bottom: 1.5px solid #fff;
    /* 內距 p */
    padding: 2px;
    transition: 0.3s;
}
nav a:hover {
    background-color: rgba(250, 71, 0, 0.5);
}
#logo {
    /* 字體大小 fz2e */
    font-size: 3em;
}
nav div {
    /* 浮動: 向右 flr */
    float: right;
    margin: 5px;
}
nav div a{
    font-size: 20px;
    margin-right: 30px;
}

/* 內容 */
#container {
    /* 寬度 w50p */
    width: 50%;
    margin-top: 30px;
}
#container h1 {
    font-size: 50px;
}
#container p {
    margin: 20px 0 100px 0;
}
#container a {
    border: 2px solid #fff;
    padding: 10px 20px;
    background-color: rgba(250, 71, 0, 0.5);
    transition: 0.3s;
}
#container a:hover {
    background-color: rgba(250, 71, 0, 0.8);
}
hr {
    margin-top: 35px;
    border: 2px solid #fff;
}

/* 按鈕 */
#button {
    margin: 50px;
    text-align: center;
}
#button a {
    background-color: rgba(250, 71, 0, 0.5);
    /* 邊框圓 bdra */
    border-radius: 50%;
    transition: 0.3s;
    padding: 30px;
    display: inline-block;
}
#button a:hover {
    background-color: rgba(250, 71, 0, 0.8);
}
.bt-mr {
    margin-right: 60px;
}

/* 頁尾 */
footer {
    /* 固定 psf */
    position: fixed;
    bottom: 0;
    background-color: rgba(250, 71, 0, 0.5);
    width: 100%;
    height: 60px;
    /* teal */
    text-align: center;
    /* lh60px */
    line-height: 60px;
}